<style>
    img {
	padding: 2px;
	margin: 30px;
	border: 7px solid orange;
}
</style>

<div class="text-center">
<h1>Contact Form</h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>
                <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 text-center">
                <%= f.submit 'Submit', class: 'btn btn-warning' %>
            <% end %>
        </div>
    </div>
</div>

<div class ="text-center">
    <img src="http://thumbnails.hulu.com/13/747/59927_512x288_generated__kBczNxdJEkS-YCMKRwTLVQ.jpg">
</div>
 <!--"col-xs-6 col-md-4"-->