<style>
    img {
	margin-left: auto;
    margin-right: auto;
    width: 60%;  
	padding: 2px;
	margin: 30px;
	border: 7px solid orange;
}

#SubmitButton {
    position: relative;
    bottom: 12px;
    padding: 2px;
    
}

.well {
    margin-left: auto;
    margin-right: auto;
    width: 95%;  
    min-height: 21px;
    padding: 28px;
    margin-bottom: 20px;
    background-color: #788DFF;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

</style>

<div class="text-center">
<h1><u>Contact Form</u></h1>
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="well">
            <%= form_for @contact do |f| %>
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
                
                <div class="form-group">
                    <%= f.label :comments %>
                    <%= f.text_area :comments, class: 'form-control' %>
                </div>
                <div id = "SubmitButton" class="col-sm-offset-4 col-sm-4 col-xs-offset-4 text-center">
                <%= f.submit 'Submit', class: 'btn btn-warning' %>
            <% end %>
        </div>
    </div>
</div>

<div class ="text-center">
    <img src="http://thumbnails.hulu.com/13/747/59927_512x288_generated__kBczNxdJEkS-YCMKRwTLVQ.jpg">
</div>
 <!--"col-xs-6 col-md-4"-->